body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x:hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 0 80px;
    text-align: left;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 60px;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 18px;
    }
}
